<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Incidencias</strong>
      </div>
      <div class="card-block">
        
        <div class="row">
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" id="searchText" name="searchText" class="form-control" placeholder="Buscar por texto">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
              </span>
            </div>
          </div>

          <div class="col-md-3 pull-right">
            <button type="button" class="btn btn-outline-primary" (click)="showModal()">Nueva incidencia</button>
          </div>
        </div>        

        <hr>

        <table class="table table-bordered table-striped" [mfData]="incidentData" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i = index">
                <td style="width: 20%">{{ item.regDatePar.formatted }}</td>
                <td style="width: 10%">{{ item.type == '1' ? 'Comunidad' : 'Interna' }}</td>
                <td style="width: 70%">{{ item.descPar }}</td>
                <td style="width: 20%">
                    <button type="button" *ngIf="!item.isDelivered" title="Eliminar" class="btn btn-danger" (click)="showDeleteModal(item.key);"><i class="fa fa-remove"></i></button>
                  </td>                
              </tr>              
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="4">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>                  
              </tr>
            </tfoot>
          </table>        

      </div>    
    </div>
  </div>
</div>

<div bsModal #newIncidentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ingresar incidencia</h4>
        <button type="button" class="close" (click)="newIncidentModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal" (ngSubmit)="saveIncident()" [formGroup]="newIncidentForm">
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-5 form-control-label" for="dateInput">Fecha ingreso</label>
            <div class="col-md-7">              
              <my-date-picker name="dateInput" id="dateInput" [options]="myDatePickerOptions" formControlName="incidentDate"></my-date-picker>
            </div>
          </div>          
          <div class="form-group row">
            <label class="col-md-5 form-control-label" for="descInput">Descripción</label>
            <div class="col-md-7">
              <textarea id="descInput" name="descInput" rows="9" class="form-control" formControlName="description"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-5 form-control-label" for="typeInput">Tipo de incidencia</label>
            <div class="col-md-7">
              <select id="typeInput" name="typeInput" class="form-control" formControlName="type">
                <option *ngFor="let obj of typeList" [ngValue]="obj.value">{{obj.name}}</option>
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="newIncidentModal.hide()">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!newIncidentForm.valid || newIncidentForm.controls.description.value == ''" >Aceptar</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Eliminar registro</h4>
          <button type="button" class="close" (click)="confirmDeleteModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Seguro que desea eliminar el registro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="confirmDeleteModal.hide()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="onDelete()">Confirmar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->