<header class="app-header navbar">    
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="#"></a>    

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
        </li>        
    </ul>

    <ul class="nav navbar-nav ml-auto">    
        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <img src="assets/img/avatars/link_avatar.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="d-md-down-none">Usuario</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">            
                <div class="dropdown-header text-center"><strong>Opciones</strong></div>
                
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
                <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/components/settings']"><i class="fa fa-wrench"></i> Configuración</a>
                <div class="divider"></div>            
                <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Salir</a>
            </div>
        </li>
        <li class="nav-item d-md-down-none">            
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Inicio </a>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" appNavDropdownToggle><i class="fa fa-home"></i> Deptos</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/department-resident']"><i class="fa fa-home"></i> Residentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/department-owner']"><i class="fa fa-home"></i> Dueños</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/department-payment']"><i class="fa fa-home"></i> Gastos comunes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/department-penalty']"><i class="fa fa-home"></i> Multas</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" appNavDropdownToggle><i class="fa fa-automobile"></i> Visitas</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/visit-person']"><i class="fa fa-automobile"></i> Personas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/visit-vehicle']"><i class="fa fa-automobile"></i> Vehículos</a>
                        </li>                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/letters']"><i class="fa fa-envelope"></i> Paquetes</a>
                </li>                        
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" appNavDropdownToggle><i class="fa fa-building"></i> Edificio</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/building-commonSpaces']"><i class="fa fa-building"></i> Espacios comunes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/building-incident']"><i class="fa fa-building"></i> Incidencias</a>
                        </li>                        
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
