<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos de prueba</strong>
      </div>
      <div class="card-block">
        <table class="table table-bordered table-striped" [mfData]="incidentData" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Descripción</th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i = index">
                <td style="width: 20%">{{ item.registerDate | date:'dd/MM/yyyy HH:mm' }}</td>
                <td style="width: 80%">{{ item.description }}</td>                
              </tr>              
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="4">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>                  
              </tr>
            </tfoot>
          </table>        

      </div>    
    </div>
  </div>
</div>