<div class="row animated fadeIn" *ngIf="processStatus == 'search'">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Buscar dueño</strong>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-10">
            <select id="departmentSearch" class="form-control" [(ngModel)]="departmentToSearch" required>
              <option value="0">-- Seleccione departamento --</option>
              <option *ngFor="let obj of allDepartments" [ngValue]="obj">{{obj}}</option>
            </select>
          </div>

          <div class="col-md-2">
            <span class="input-group-btn">
              <button type="button" [disabled]="departmentToSearch == 0" class="btn btn-primary" (click)="searchDepartmentData()"><i class="fa fa-search"></i> Buscar</button>
            </span>
          </div>
        </div>        
      </div>    
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="processStatus == 'notFound'">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Resultados de búsqueda</strong>
      </div>
      <div class="card-block">
        <div class="form-group row">              
            <div class="col-md-8">
              No se han encontrado datos asociados a este departamento. ¿Desea ingresar los datos correspondientes al dueño?
            </div>
            <div class="col-md-4">
              <button type="button" (click)="registerOwnerData()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Ingresar datos</button>          
              <button class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fa fa-rotate-left"></i> Otra búsqueda</button>
            </div>
          </div>                                                                                                                     
      </div>        
    </div>      
  </div>
</div>

<div class="row animated fadeIn" *ngIf="processStatus == 'registerData'">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Registrar dueño</strong>
      </div>
      <form [formGroup]="registerOwner" class="form-horizontal" (ngSubmit)="saveNewOwner()">
        <div class="card-block">          
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="nameInput">Nombre</label>
            <div class="col-md-9">
              <input type="text" id="nameInput" name="nameInput" formControlName="name" class="form-control" placeholder="Nombre completo">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="rutInput">Rut</label>
            <div class="col-md-9">
              <input type="email" id="rutInput" name="rutInput" formControlName="rut" class="form-control" placeholder="Ingrese rut">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="emailInput">Email</label>
            <div class="col-md-9">
              <input type="text" id="emailInput" name="emailInput" formControlName="email" class="form-control" placeholder="Ingrese correo electrónico" >
            </div>
          </div>            
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="addressInput">Dirección (opc.)</label>
            <div class="col-md-9">
              <input type="text" id="addressInput" name="addressInput" formControlName="address" class="form-control" placeholder="Dirección">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="phoneInput">Teléfono</label>
            <div class="col-md-9">
              <input type="text" id="phoneInput" name="phoneInput" formControlName="cellphone" class="form-control" placeholder="Ingrese teléfono de contacto">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="departmentInput">Departamento</label>
            <div class="col-md-9">
              <input type="text" id="departmentInput" name="departmentInput" formControlName="department" class="form-control">
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-sm btn-primary" (click)="onSearch()" type="button"><i class="fa fa-rotate-left"></i> Otra búsqueda</button>
          <button class="btn btn-sm btn-success" [disabled]="!registerOwner.valid" type="submit"><i class="fa fa-save"></i> Guardar datos</button>
          <button class="btn btn-sm btn-danger" (click)="onClear()" type="button"><i class="fa fa-eraser"></i> Limpiar</button>
        </div>

      </form>
    </div>      
  </div>
</div>


<div class="row animated fadeIn" *ngIf="processStatus == 'found'">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos dueño</strong>
      </div>
      
      <div class="card-block">            
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="nameInput">Nombre</label>
            <div class="col-md-9">
              {{ ownerSearch.name }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="rutInput">Rut</label>
            <div class="col-md-9">
              {{ ownerSearch.rut }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="emailInput">Email</label>
            <div class="col-md-9">
              {{ ownerSearch.email }}
            </div>
          </div>            
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="addressInput">Dirección</label>
            <div class="col-md-9">
              {{ ownerSearch.address }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="phoneInput">Teléfono</label>
            <div class="col-md-9">
              {{ ownerSearch.cellphone }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="department">Departamento</label>
            <div class="col-md-9">
              {{ departmentToSearch }}
            </div>
          </div>          
      </div>

      <div class="card-footer">
        <button class="btn btn-sm btn-primary" (click)="onEdit()"><i class="fa fa-pencil"></i> Editar datos</button>
        <button class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fa fa-rotate-left"></i> Otra búsqueda</button>
      </div>      
    </div>      
  </div>
</div>