<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      
      <tabset>
        <tab heading="Activos">
          
          <table class="table table-striped" [mfData]="visitsData" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>
                <th>Espacio</th>
                <th>F. Ingreso</th>
                <th>H. Ingreso</th>
                <th>N° Dep</th>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Patente</th>                
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i = index">
                <td style="width: 5%">{{ item.usedSpaceNumber }}</td>
                <td style="width: 10%">{{ item.accessDate }}</td>
                <td style="width: 10%">{{ item.accessTime }}</td>
                <td style="width: 10%">{{ item.department != null ? item.department : '' }} </td>
                <td style="width: 10%">{{ item.personName }}</td>
                <td style="width: 10%">{{ item.personRut }}</td>
                <td style="width: 10%">{{ item.carRegNumber }}</td>                
                <td style="width: 10%">{{ item.parkingStatus == 0 ? 'Libre' : item.state == 1 ? 'En tiempo' : 'Fuera de tiempo' }}</td>
                <td style="width: 15%">
                  <button type="button" data-toggle="tooltip" *ngIf="item.department != null" (click)="onUpdateVisit(item);" title="Modificar" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                  <button type="button" data-toggle="tooltip" *ngIf="item.department != null" title="Eliminar" class="btn btn-danger" data-toggle="modal" (click)="showDeleteModal(i);"><i class="fa fa-remove"></i></button>
                  <button type="button" data-toggle="tooltip" *ngIf="item.department != null" title="Liberar espacio" class="btn btn-success" data-toggle="modal" (click)="showFreeModal(i);"><i class="fa fa-check"></i></button>
                  <button type="button" data-toggle="tooltip" *ngIf="item.department == null" title="Usar" class="btn btn-success" data-toggle="modal" (click)="onCreateVisit(i);"><i class="fa fa-plus-square"></i></button>
                </td>                
              </tr>              
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="4">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>                  
              </tr>
            </tfoot>
          </table>

        </tab>
        <tab heading="Historial">
          
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" id="searchText" name="searchText" class="form-control" placeholder="Buscar por texto">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
              </span>
            </div>
          </div>

          <hr>

          <table class="table table-striped" [mfData]="historyData" #mfHistory="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>
                <th>Ingreso</th>
                <th>Departamento</th>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Espacio</th>
                <th>Patente</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mfHistory.data; let i = index">
                <td style="width: 15%">{{ item.date | date:'dd/MM/yyyy HH:mm' }}</td>
                <td style="width: 10%">{{ item.department.departmentId }} </td>
                <td style="width: 20%">{{ item.name }}</td>
                <td style="width: 15%">{{ item.rut }}</td>
                <td style="width: 20%">{{ item.space }}</td>
                <td style="width: 20%">{{ item.patent }}</td>
              </tr>              
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="4">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>                  
              </tr>
            </tfoot>
          </table>

        </tab>        
      </tabset>

    </div>    
  </div>
</div>