<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Correo y encomiendas          
        </div>
        <div class="card-block">

          <div class="row">
            <div class="col-md-10">
              <div class="input-group">
                <input type="text" id="searchText" name="searchText" class="form-control" placeholder="Buscar por texto">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                </span>
              </div>
            </div>

            <div class="col-md-2 pull-right">
              <button type="button" class="btn btn-outline-primary" (click)="createLetter()">Nuevo</button>
            </div>
          </div>        

          <hr>

          <table class="table table-striped" [mfData]="allLetters" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>
                <th>Departamento</th>
                <th>Fecha recepción</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td style="width: 20%">{{ item.department}}</td>
                <td style="width: 20%">{{ item.receptionDate }}</td>
                <td style="width: 20%">{{ item.type == '1' ? 'Carta' : 'Paquete' }}</td>
                <td style="width: 20%">{{ item.isDelivered ? 'Entregado' : 'Por entregar' }}</td>
                <td style="width: 20%">
                  <button type="button" data-toggle="tooltip" (click)="editLetter(item);" title="Editar" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                  <button type="button" data-toggle="tooltip" *ngIf="!item.isDelivered" title="Eliminar" class="btn btn-danger" data-toggle="modal" (click)="showDeleteModal(item.key);"><i class="fa fa-remove"></i></button>
                  <button type="button" data-toggle="tooltip" *ngIf="!item.isDelivered" title="Marcar como entregado" class="btn btn-success" data-toggle="modal" (click)="showDeliveredModal(item.key);"><i class="fa fa-check"></i></button>
                </td>                
              </tr>              
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="5">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>                  
              </tr>
            </tfoot>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar registro</h4>
        <button type="button" class="close" (click)="confirmDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que desea eliminar el registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="confirmDeleteModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onDelete()">Confirmar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmDeliveredModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmar entrega</h4>
        <button type="button" class="close" (click)="confirmDeliveredModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que desea marcar como entregado el elemento?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="confirmDeliveredModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onDelivered()">Confirmar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #letterEditAndCreate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ editMode ? 'Editar' : 'Crear nuevo' }}</h4>
        <button type="button" class="close" (click)="letterEditAndCreate.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal" (ngSubmit)="onCreateOrEdit()" [formGroup]="editSaveLetterForm">
        <div class="modal-body">                
          <div class="form-group row">
            <label class="col-md-5 form-control-label" for="departmentInput">Destinatario</label>
            <div class="col-md-7">
              <select id="departmentInput" name="departmentInput" class="form-control" formControlName="department">
                <option value="0">-- Seleccione --</option>
                <option *ngFor="let obj of allDeps" [ngValue]="obj">{{obj}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5 form-control-label" for="dateInput">Fecha recepción</label>
            <div class="col-md-7">              
              <my-date-picker name="dateInput" id="dateInput" [options]="myDatePickerOptions" formControlName="receptionDate"></my-date-picker>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5 form-control-label" for="typeInput">Tipo</label>
            <div class="col-md-7">
              <select id="typeInput" name="typeInput" class="form-control" formControlName="type">
                <option *ngFor="let obj of typeList" [ngValue]="obj.value">{{obj.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="editSaveLetterForm.controls.type.value == 2">
            <label class="col-md-5 form-control-label" for="sizeInput">Tamaño</label>
            <div class="col-md-7">
              <select id="sizeInput" name="sizeInput" class="form-control" formControlName="size">
                <option *ngFor="let obj of sizeList" [ngValue]="obj.value">{{obj.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="editSaveLetterForm.controls.type.value == 2">
            <label class="col-md-5 form-control-label" for="deliCompanyInput">Empresa</label>
            <div class="col-md-7">
              <input type="text" id="deliCompanyInput" name="deliCompanyInput" class="form-control" placeholder="Ej: Chilexpress" formControlName="deliveryCompany">
            </div>
          </div>
          <div class="form-group row" *ngIf="editSaveLetterForm.controls.type.value == 2">
            <label class="col-md-5 form-control-label" for="descInput">Descripción</label>
            <div class="col-md-7">
              <input type="text" id="descInput" name="descInput" class="form-control" placeholder="Ej: Caja roja" formControlName="description">
            </div>
          </div>          
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="letterEditAndCreate.hide()">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!editSaveLetterForm.valid || editSaveLetterForm.controls.department.value == 0" >Aceptar</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->