<div class="app flex-row align-items-center">
  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">

          <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <div class="card p-4">
              <div class="card-block">
                <h1>Login</h1>
                <p class="text-muted">Iniciar sesión</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" formControlName="username" autocomplete="off">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password" autocomplete="off" formControlName="password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Acceder</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Olvidó la clave?</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          
          <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>Registrese</h2>
                <p>Ingrese sus datos de ingreso para poder acceder a todas las funcionalidades de Giza, una herramienta 
                  para conserjería con funcionalidades que facilitarán las tareas.
                </p>
                <button type="button" class="btn btn-primary active mt-3">Registrarse ahora!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
