<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Buscar residente</strong>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-10">
            <select id="departmentSearch" class="form-control" [(ngModel)]="departmentToSearch" required>
              <option value="0">-- Seleccione departamento --</option>
              <option *ngFor="let obj of allDepartments" [ngValue]="obj">{{obj}}</option>
            </select>
          </div>

          <div class="col-md-2">
            <span class="input-group-btn">
              <button type="button" [disabled]="departmentToSearch == 0" class="btn btn-primary" (click)="searchDepartmentData()"><i class="fa fa-search"></i> Buscar</button>
            </span>
          </div>
        </div>        
      </div>    
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="processStatus == 'found'">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos residente</strong>
      </div>
      
      <div class="card-block">            
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="nameInput">Nombre</label>
            <div class="col-md-9">
              {{ residentData.name }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="rutInput">Rut</label>
            <div class="col-md-9">
              {{ residentData.rut }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="emailInput">Email</label>
            <div class="col-md-9">
              {{ residentData.email }}
            </div>
          </div>            
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="addressInput">Dirección</label>
            <div class="col-md-9">
              {{ residentData.address }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="phoneInput">Teléfono</label>
            <div class="col-md-9">
              {{ residentData.cellphone }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="department">Departamento</label>
            <div class="col-md-9">
              {{ departmentToSearch }}
            </div>
          </div>          
      </div>

      <div class="card-footer">
        <button class="btn btn-sm btn-primary" (click)="onEdit()"><i class="fa fa-pencil"></i> Editar datos</button>
        <button class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fa fa-rotate-left"></i> Otra búsqueda</button>
      </div>      
    </div>      
  </div>
</div>