<div class="animated fadeIn">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Registro visitas de personas
        </div>
        <div class="card-block">

          <div class="row">

            <div class="col-md-10">
              <div class="input-group">
                <input type="text" id="searchText" name="searchText" class="form-control" placeholder="Buscar por texto">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                </span>
              </div>
            </div>            

            <div class="col-md-2 pull-right">
              <button type="button" class="btn btn-outline-primary" (click)="showCreateModal()">Nuevo registro</button>
            </div>
          </div>        

          <hr>

          <table class="table table-striped" [mfData]="visitData" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>
                <th>Fecha Ingreso</th>
                <th>Hora</th>
                <th>Departamento</th>
                <th>Nombre</th>
                <th>Rut</th>                
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i = index">                  
                <td style="width: 15%">{{ item.accessDate }}</td>
                <td style="width: 15%">{{ item.accessTime }}</td>
                <td style="width: 15%">{{ item.department != null ? item.department : '' }} </td>
                <td style="width: 25%">{{ item.personName }}</td>
                <td style="width: 15%">{{ item.personRut }}</td>
                <td style="width: 15%">
                  <button type="button" data-toggle="tooltip" title="Modificar" class="btn btn-primary" data-toggle="modal" (click)="showUpdateModal(item);"><i class="fa fa-pencil"></i></button>
                  <button type="button" data-toggle="tooltip" title="Eliminar" class="btn btn-danger" data-toggle="modal" (click)="showDeleteModal(item);"><i class="fa fa-remove"></i></button>
                </td>                
              </tr>              
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="5">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>                  
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
          