<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">  
      <tabset>
        <tab>
          <ng-template tabHeading><i class="fa fa-cutlery"></i> Quincho</ng-template>
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>

          <ng-template tabHeading><i class="fa fa-tint"></i> Lavandería</ng-template>
          <div>
            <div class="row">
              <div class="col-6 col-lg-5">
                <div class="card">
                  <div class="card-block p-3 clearfix">
                    <i class="fa fa-tint bg-primary p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">{{ laundryAvailableNumber }} / {{ laundryTotalNumber }}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Lavadoras disponibles</div>
                  </div>
                  <div class="card-footer px-3 py-2">
                    <a class="font-weight-bold font-xs btn-block text-muted" href="#">Ver detalle <i class="fa fa-angle-right float-right font-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>                        

            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Últimos comentarios
              </div>
              
              <div class="card-block">
                <table class="table table-striped col-md-12" [mfData]="lastLaundryComments" #mfLaundry="mfDataTable" [mfRowsOnPage]="5">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Comentario</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mfLaundry.data; let i = index">
                      <td style="width: 20%">{{ item.registerDate | date:'dd/MM/yyyy' }}</td>
                      <td style="width: 80%">{{ item.comment }}</td>
                    </tr>              
                  </tbody>
                  <tfoot>
                    <tr>
                        <td colspan="1">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-primary pull-right" (click)="createNewComment()">Nuevo comentario</button>
                        </td>
                    </tr>
                  </tfoot>
                </table>
                
              </div>
            </div>
          </div>          

        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-birthday-cake"></i> Sala de eventos</ng-template>
          4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-futbol-o"></i> Gimnasio</ng-template>
          
          <div>
            <div class="row">
              <div class="col-6 col-lg-5">
                <div class="card">
                  <div class="card-block p-3 clearfix">
                    <i class="fa fa-futbol-o bg-primary p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">{{ gymMachineAvailableNumber }} / {{ gymMachineTotalNumber }}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Máquinas disponibles</div>
                  </div>
                  <div class="card-footer px-3 py-2">
                    <a class="font-weight-bold font-xs btn-block text-muted" href="#">Ver detalle <i class="fa fa-angle-right float-right font-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>                        

            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Últimos comentarios
              </div>
              
              <div class="card-block">
                <table class="table table-striped col-md-12" [mfData]="lastGymComments" #mfGym="mfDataTable" [mfRowsOnPage]="5">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Comentario</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mfGym.data; let i = index">
                      <td style="width: 20%">{{ item.registerDate | date:'dd/MM/yyyy' }}</td>
                      <td style="width: 80%">{{ item.comment }}</td>
                    </tr>              
                  </tbody>
                  <tfoot>
                    <tr>
                        <td colspan="1">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-primary pull-right" (click)="createNewComment()">Nuevo comentario</button>
                        </td>
                    </tr>
                  </tfoot>
                </table>
                
              </div>
            </div>
          </div>  

        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-users"></i> Sala de reunión</ng-template>
          4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div>
  </div>
</div>
